
$Lilac: #9C69E2;
$Pink_background: rgba(240, 99, 184, 0.15);
$Pink: #F063B8;
$heading_color: #212353;
$text_color: #4B5D68;

@use 'fonts';

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
    font-family: fonts.$main_font;
    padding-top: 60px;
}

a {
    text-decoration: none;
}

%button {
    font-family: fonts.$main_font;
    width: 170px;
    height: 60px;
    border-radius: 50px;
    border: none;
    padding: 16px 37px 15px 37px;
    font-weight: 700;
    font-size: 18px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: $Lilac;
    color: #FFFFFF;
}

%button_link {
    @extend %button;
    width: 210px;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    padding: 17px 29px;
    font-style: normal;
    font-size: 16px;
    justify-content: space-between;
    letter-spacing: 0.005em;
    background: #FFFFFF;
    color: $heading_color;

    &:hover {
        background: $Pink;
        box-shadow: none;
        transform: scale(1.2);
    }
}

.header {
    max-width: 1120px;
    width: 100%;
    margin: auto;
    height: 60px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    max-width: 490px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav__items {
        max-width: 320px;
        width: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & a {
            color: $text_color;

            &:hover {
                font-weight: 700;
                color: $heading_color;
            }
        }
    }
}

.button_link {
    @extend %button_link
}

.section {
    max-width: 1120px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 10vh;

    &__item_1 {
        min-width: 645px;
        width: 100%;

        & h1 {
            font-family: fonts.$heading_font;
            color: $heading_color;
            font-style: normal;
            font-weight: bold;
            font-size: 80px;
            line-height: 110%;
            padding-bottom: 7vh;
        }

        & p {
            font-family: fonts.$main_font;
            color: $text_color;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
            padding-bottom: 7vh;
            max-width: 380px;
            width: 100%;
        }

        & button {
            @extend %button
        }
    }

    &__item_2 {
        max-width: 475px;
        width: 100%;
        position: relative;

        & img {
            max-width: 885px;
            position: absolute;
            top: 100px;
            left: -280px;
        }
    }
}
